@font-face {
    font-family: 'pt_sansregular';
    src: url('../font/PTS55F-webfont.eot');
    src: url('../font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTS55F-webfont.woff') format('woff'),
         url('../font/PTS55F-webfont.ttf') format('truetype'),
         url('../font/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, #page{
    height: 100%;
    width: 100%;
}

body
{
	background: url('../image/fond.png') ;
	background-position: center ;
	background-repeat: no-repeat ; 
	background-attachment: fixed ; 
	background-size: cover ;
	color: #575757;
	font-family: pt_sansregular;
	margin: 0px;
    height: 100%;
}

#logo
{ /*Décaler le logo du bord de l'écran */
	margin-left: 10px;
}

header nav ul
{ /*Appliquer le CSS à la partie ul */
    list-style-type: none;
    display: flex;
}

header nav li
{ /*Appliquer le CSS à la partie li */
    padding-left:10px;
    padding-right:10px;
    border: 1px;
    border-right-style:solid;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 5px black;
    height: 10%;
}

footer
{
    display: flex;
    bottom:0;
    position:absolute;
    width:100%;
    background-color: rgba(57,57,57,0.6);
    color:white;
    height: 5%;
    text-align:center;
    list-style:none;
}

footer nav{
    width:100%;
}

footer nav ul{
    list-style-type:none;
    display:flex;
    width:65%;
    padding:0;
    margin:auto;
    margin-top:0.5%;
    margin-bottom:0.5%;
}

footer nav li{
    width:100%;   
}

footer nav ul li a{
    color:white;
    font-size:14px;
}

#formlogin
{
	background-color: rgba(255,255,255,0.9);
	width: 250px;
	margin: auto;
	margin-top: 180px;
	padding: 9px 0px 5px 15px;
}

#formsignup
{
	background-color: rgba(255,255,255,0.9);
	width: 550px;
	margin: auto;
	margin-top: 120px;
	padding: 9px 10px 5px 15px;
}
.champoblig
{
    color: orange;
    
    /* colore l'étoile en orange pour informer que le champs est obligatoire */
}

.infos_confidentialite
{
    /* Concerne le paragraphe concernant la confidentialité des données du client */
    
    font-size : 15px;
    color : #575757;
    text-align: left;
    width : 220px;
    position : absolute;
    top : 53.5%;
    left : 50%;
    
    
}


#formlogin h1, #formsignup h1
{
	text-align: center;
}

nav a
{
	font-size: 20px;
	text-decoration: none;
	color: #575757;
}

#idinput input
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 9px;
	background-color: #575757;
	border-color: #575757;
	color: white;	
	border-style: solid;
}

.boutons_id 
{
    
    /* Concerne les boutons "login" et "sign up" dans la page d'accueil */
    
    cursor: pointer;
    border-style: solid;
    background-color: #575757;
    border-color: #575757;
    color: white;
    width: 60px;
    text-align: center;
    padding: 5px;
    position : relative;
    left : 120px;
    top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    height: 31px;
}

.boutons_id:hover
{
    /* Colorise les boutons "login" et "sign up" dans la page d'accueil au passage de la sourie */
    
    background-color: grey;
    border-color: grey;
    }

#signupinput input
{
	text-align: left; 
    width: 240px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	background-color: #575757;
	border-color: #575757;
	color: white;	
	border-style: solid;
}

#boutons_signup
{
    /* Concerne le bouton d'envoi dans le formulaire */
    
    cursor: pointer;
    border-style: solid;
    background-color: #575757;
    border-color: #575757;
    color: white;
    width: 150px;
    padding: 5px;
    margin-left: 350px;
    margin-bottom: 5px;
    margin-top:50px;
}

#boutons_signup:hover
{
    background-color: grey;
    border-color: grey;
}

form p
{
	margin: 1px;
}

#boutons_id
{
	display: flex;
	justify-content: flex-end;
	padding: 20px 0px 9px 15px;
}

#objects, #objects ul, #capteurs, #capteurs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#objects {
/* on centre le menu dans la page */
	margin-top:0px;
    text-align: center;
    background-color: white;
}
#objects li {
/* on place les liens du menu horizontalement  */
    display: inline-block;
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    font-size: x-large;
}
#objects ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    margin: inherit;
    font-size: 15px;
}
#objects a {
    text-decoration: none;
    display: block;
	color:#575757;
}
#objects ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche  */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#objects li:hover ul {
/* Au survol des li du menu on replace les sous menus  */
    left: auto;
}

#capteurs {
    background-color: rgba(255,255,255,0.9);
    width: 20%;
    height: 85%;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    min-width: 200px;
}

#capteurs ul li{
    font-size: x-large;
    margin-left: 10px;
    margin-right:10px;
}

#capteurs ul li ul li{
    font-size: 15px;
    padding-top:3px;
    padding-bottom:3px;
    display:flex;
    justify-content:space-between;
    
}

#capteurs ul li ul li:hover
{
    /* Change le texte du menu au passage de la sourie */
    font-size: 18px;
    transition: 0.5s;
    color: grey;
    padding-left: 10px;
}

#capteurs ul li ul li a:before
{
    /* Met un point invisible avant les lieux, les points
    apparaîtront au passage de la sourie*/
    
    content: '•';
    position: absolute;
    opacity: 0;
    margin-left: -12px;
}

#capteurs ul li ul li:hover a:before
{
    /* Rend les points visibles au passage de la sourie*/
    opacity: 1;
}

#capteurs ul li ul{
    border: 1px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color: rgb(199,199,199);
    
}

#capteurs a
{
    text-decoration:none;
    color:#575757;
}

#boite{
    background-color: rgba(255,255,255,0.9) ;
    font-size: 24px;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    width: 65%;
    padding: 3% 3% 3% 3%;
    display:inline-block;
    position: fixed;
    vertical-align:top;
    height:65%;
    
}

#boite ul li
{
    /* Concerne les traits de séparations dans la boîte 
    centrale*/
    display:flex;
    justify-content: space-between;
    border: 1px;
    border-bottom-style:solid;
    border-color: rgb(199,199,199);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.boutons_retour
{
    /* Concerne le bouton retour des pages capteurs 
    */
    
    border-style: solid;
    background-color: #575757;
    border-color: #575757;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.boutons_retour:hover
{
    background-color: grey;
    border-color: grey;
}

.barre_temp
{
    
    /* Concerne la barre de scroll de la page température*/
    margin-bottom: 0%;
    width: 100%;
}

.slider
{
    cursor:pointer;
    background: url(../image/boutonOFF.png) no-repeat;
    padding: 0px 77px 40px 0px;
    border-radius: 20px;
}

.slider:hover
{
    transition: 0.3s;
    background: url(../image/boutonOFF_Select.png) no-repeat;
}

input:checked + .slider
{
    background: url(../image/boutonON.png) no-repeat;
}

input:checked + .slider:hover
{
    background: url(../image/boutonON_Select.png) no-repeat;
}

#boite ul label input
{
  position: absolute;
  left: -9999em;
}
#capteurs .bouton_type
{
    
    /* Concerne les boutons ajouter et supprimer une pièce */
    
    cursor: pointer;
    border-style: solid;
    background-color: #575757;
    border-color: #575757;
    padding: 5px;
    font-size: 15px;
    display: flex;
    margin-top: 10px;
    padding-left: 12px;
    color:white;
    margin-bottom:10px;
}

#capteurs .bouton_type:hover
{
    background-color: grey;
    border-color: grey;
}

#boite ul img
{
    /* Concerne l'image du thermometre */
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 40px;
    padding-bottom: 100px;
    
}

#signupinput .boutons_piece
{
    /* Concerne le bouton submit de ajouter piece*/
    
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-right: 0%;
    margin-left: 260px;
}

#signupinput .boutons_piece:hover
{
    cursor: pointer;
    border-color: grey;
    background-color: grey;
}
#logodeco{
    height:25px;
    margin-left: 10px;
    margin-right:10px;
}

#signupinput .description
{
    /* Concerne le champs de déscription du problème rencontré pour un capteur défaillant */
    
    width : 99%;
    padding-bottom: 15%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #575757;
    color: white;
    resize: none;

}

#formlogin .Erreur_id
{
    /* Concerne le message d'erreur suite à la mauvaise identification dans accueil*/
    
    color: firebrick;
    font-size: 10px;
}

#confirmationform{
    background-color: rgba(255,255,255,0.9) ;
    font-size: 24px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 20%;
    width: 45%;
    padding: 3% 3% 3% 3%;
    display:inline-block;
    position: fixed;
    vertical-align:top;
    
}

#boite .boutons_modif
{
    
    /* Concerne les boutons de modifications des données utilisateurs */
    
    cursor: pointer;
    border-style: solid;
    background-color: #575757;
    padding: 10px;
    border-color: #575757;
    font-size: 15px;
    display: flex;
    margin-top: 10px;
    color:white;
}

table{
    color:#575757;
    margin-top:100px;
    border: 1px solid white;
    border-collapse: collapse;
    margin:auto;
    margin-top:100px;
    box-shadow: 0px 3px 5px white;
    font-size:20px;
    
}

td, th {
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even) {
    background-color: rgba(255,255,255,0.9);
}
    
tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.75);;
}